.control-pane {
	display: none;
}

.paging-pane {
	display: none;
}

.newentry {
	display: none;
}

.content-pane {
	position: relative;
	left:10%;
	margin-left:2em;
	width: 80%;
}

.content {
	page-break-before:auto;	
}	

.key_list {
	position: relative;
	page-break-before:avoid;
}

a:link, a:visited {
	text-decoration: none;
	font-style: italic;
}
	
/* http://www.alistapart.com/stories/goingtoprint/ */
a:link:after, a:visited:after {
   text-decoration: none;
   content: " (" attr(href) ") ";
   font-size: 70%;
}

.wordcloud a:link:after, a:visited:after {display: none;}