body {
	font-family:"Century Gothic";
	font-size: 12pt;
  background-color: #fff; 
	color: #333;
	text-align:center;
	}

h1 {
	font-size: 13pt;	
}

h2 {
	font-size: 12pt;	
}

.pane {
	padding:20px;
	text-align: left;
	font-size: 10pt;
	border-radius: 15px;
	border-color:gray;
}		

.control-pane {
	float:left;
	width:8cm;
	background-color: yellowgreen;
}
.control-pane a:link {text-decoration: none; color: black;}
.control-pane a:visited {text-decoration: none; color: black;}
.control-pane a:hover {text-decoration: none; color: black; background-color: white;}
.control-pane input {border-radius: 5px;}
.control-pane p {
	padding: 5px;
	background-color: white;
	border-radius: 5px;	
}

.content-pane {
	float:left;
	width:12cm;
	padding-top: 0px;
}

.paging-pane {
	width:auto;	
	padding-top:5px;
	background-color: springgreen;
}
.paging-pane a {text-decoration: none; color: black;}
.paging-pane a:hover {background-color: red; border-radius: 5px;}
.paging-pane p {
	padding: 5px;
	background-color: white;
	border-radius: 5px;
	text-align: center;	
}
.paging-pane b {
	padding: 2px;
	color: white;
	background-color: black;
	border-radius: 5px;	
}

.filldiv {
  width: 100%; /*dynamic with div size*/
}

.content {
	position: relative;
	padding-top: 0px;
	padding-bottom: 40px;
	
	font-family:"Century Gothic";	
	font-size: 11pt;
  text-align: left;
}
.content input {border-radius: 5px;}
.content textarea {border-radius: 5px;}

.newentry {
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 15px;
	background-color: lightblue;
}
.newentry div form {display: none}
.newentry div:hover form {display: block;}
.newentry input{background-color: aliceblue;}
.newentry textarea{background-color: aliceblue;}

.itemid-box {
	position: absolute;
	right:0px;
	top:0px;
	border:solid;
	border-width:thin;
	border-radius: 5px;
	padding-left:.2em;
	padding-right:.2em;
	text-align:right;
	font-size:7pt;
	font-weight: bold;
	width:auto;
	background-color: aqua;
	z-index:+1; /*If there are no notes, the hl at the end goes above us*/
}
.itemid-box div span {display: none;}
.itemid-box div:hover span {display: inline;}
.itemid-box a:link {text-decoration: none; color: black;}
.itemid-box a:visited {text-decoration: none; color: black;}
.itemid-box a:hover {text-decoration: none; background-color: yellow;}

.title {
	width: 100%;
	font-size:large;
	font-weight: bold;
	border-bottom: 1px dotted #ba0000;
}
.title a:link {text-decoration: none; color: black;}
.title a:visited {text-decoration: none; color: black;}
.title hover {text-decoration: none; background-color: yellow;}

.sourcetitle {
	font-size:10pt;
	font-weight: bold;
	border-radius: 10px;
	color: black;
	background-color: lemonchiffon;
	padding: 5px;
}

.sourcejournal {
	font-size:10pt;
	font-weight: bold;
}

.sourceauthors {
	font-size:10pt;
	font-style: italic;
}


.date {
  font-weight: bold;
	font-size: .8em;
}

.lastupdated {
	text-align:right;
  font-weight: bold;
	font-size: .6em;
}
.lastupdated a:link {color: black;}
.lastupdated a:visited {color: black;}

.key_list {
	position: relative;
	border-bottom: thin dotted;	
	left: 0px;
	bottom: 10px;
	font-weight: bold;
	font-size: 10px;
}

.wordcloud a {text-decoration: none; color: black;}
	