body {
    font-family:"Century Gothic";
    font-size: 12pt;
    background-color: white;
    color: black;
}

h1 {
	font-size: 13pt;	
}

h2 {
	font-size: 12pt;	
}

.pane {
	padding:20px;
	text-align: left;
	font-size: 10pt;
	border-radius: 15px;
	border-color:gray;
}
.pane a:link {text-decoration: none; color: black; }
.pane a:visited {text-decoration: none; color: black;}
.pane a:hover {text-decoration: none; color: black; font-weight: bold;}

.filter-pane {
	float:left;
	width:8cm;
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;	
	//background-color: darkgray;
}
.filter-pane input {border-radius: 5px;}
.filter-pane p {
	padding: 5px;
	background-color: white;
	border-radius: 5px;	
}
.filter-pane form {
    background-color: lightgreen;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}


.content-pane {
	float:left;
	width:12cm;
	padding-top: 0px;
}
.content-pane a:link {text-decoration: none; color: blue; font-weight: bold;}
.content-pane a:visited {text-decoration: none; color: blue;font-weight: bold;}
.content-pane a:hover {text-decoration: none; color: black; font-weight: bold;}

.paging-pane {
    float:left;
	width:auto;
    text-align: right;
    font-size: 8pt;
    border-radius: 5px;
    padding: 5px;
    border-color:gray;
	background-color: #d3d3d3;
}
.paging-pane a {text-decoration: none; color: black;}
.paging-pane a:hover {background-color: red; border-radius: 2px;}
.paging-pane b {
	color: white;
	background-color: black;
    padding-left: 5px;
}
.paging-pane hr {
    border: none;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #FFF;
    line-height: 0;
}

.misc-pane {
    float:left;
    width:auto;
    text-align: right;
    font-size: 8pt;
    border-radius: 5px;
    padding: 5px;
    border-color:gray;
    //background-color: #d3d3d3;
    margin-left: 10px;
}

.filldiv {
    width: 100%; /*dynamic with div size*/
}

.content {
	position: relative;
	margin-bottom: 5px;
	padding: 20px;
	border-radius: 10px;
	
	font-family:"Century Gothic";	
	font-size: 11pt;
    text-align: left;
  
    background-color: white;

    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.content input {border-radius: 5px;}
.content textarea {border-radius: 5px;}

.newentry {
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
	padding: 0px;
	margin-bottom: 10px;
	border-radius: 15px;
	background-color: lightgreen;
    border: thick solid lightgreen;
}
.newentry a:link {text-decoration: none; color: black;}
.newentry a:visited {text-decoration: none; color: black;}
.newentry a:hover {text-decoration: none; color: black; background-color: white;}

.message {
	border-radius: 15px;
	border: 1px solid;
	padding: 10px;
	margin: 10px;	
}

.message div {
	border-radius: 15px;
	background-color: yellow; 
	color: red;
	padding: 10px;
}

.itemid-box {
	position: absolute;
	right:0px;
	top:0px;
	//border:solid;
	//border-width:thin;
	border-radius: 5px;
	padding: 5px;
    //padding-left:.2em;
	//padding-right:.2em;
	text-align:right;
	font-size:7pt;
	//font-weight: bold;
	width:auto;
	background-color: whitesmoke;
	z-index:+1; /*If there are no notes, the hl at the end goes above us*/
}
.itemid-box div span {display: none;}
.itemid-box div:hover span {display: inline;}
.itemid-box a:link {text-decoration: none; color: black;}
.itemid-box a:visited {text-decoration: none; color: black;}
.itemid-box a:hover {text-decoration: none; background-color: yellow;}

.title {
	width: 100%;
	font-size:large;
	font-weight: bold;
	//border-bottom: 1px dotted #ba0000;
}
.title a:link {text-decoration: none; color: black;}
.title a:visited {text-decoration: none; color: black;}
.title hover {text-decoration: none; background-color: yellow;}

.sourcetitle {
	font-size:10pt;
	font-weight: bold;
	border-bottom: solid thin;
	color: black;
	background-color: lightgray;
	padding: 2px;
}

.sourcejournal {
	font-size:10pt;
	font-weight: bold;
}

.sourceauthors {
	font-size:10pt;
	font-style: italic;
}


.date {
  font-weight: bold;
	font-size: .8em;
}

.lastupdated {
	text-align:right;
    font-weight: bold;
	font-size: .6em;
}
.lastupdated a:link {color: black;}
.lastupdated a:visited {color: black;}

.key_list {
	position: relative;
	left: 0px;
	bottom: 10px;
	font-weight: bold;
	font-size: 10px;
}

.wordcloud a {text-decoration: none; color: black;}
	